# Google Sheets API credentials path
GOOGLE_APPLICATION_CREDENTIALS=credentials.json

# Your spreadsheet ID (from the URL)
SPREADSHEET_ID=your-spreadsheet-id-here

# sheet name to query
SHEET_NAME=Sheet1

# grab local sheet or online sheet, local | online
MODE=online

