# Google API
google-api-python-client>=2.100.0
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=1.0.0

# TrueSkill Through Time
trueskillthroughtime>=0.1.0

# Development
python-dotenv>=1.0.0
python-csv>=0.0.14
